body {
	font-family: -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
	color: #e1e3e6;
	background: #19191a;
	margin: 0;
	padding: 0;
	width: 100%;
}
img {margin: 0; padding: 0}
#header-wrapper header {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding: 4px 10px;
}

/* MESSAGES */
.im_log_author_chat_thumb {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #c6cfdc;
	background-size: 100%;
	overflow: hidden;
}
.im_in {
	position: relative;
	margin-bottom: 5px;
	padding-left: 46px;
	min-height: 40px;
}
.im_log_author {
	position: absolute; left: 4px; top: 4px;
}
.im_log_author_chat_name {margin-bottom: 4px}
.mem_link {
	font-weight: 500;
	color: #529ef4;
	text-decoration: none;
	pointer-events: none;
}
.im_log_date {
	font-size: 12px;
	color: #5d5f61;
	position: absolute; right: 0; top: 3px;
}
img {
	pointer-events: none;
}