:root {
--background: white;
--header-bg: white;
--action-background: rgba(0,0,0,.05);
--cover-background: #ebebeb;
--cover-filter: opacity(.18) invert(23%) sepia(11%) saturate(384%) hue-rotate(202deg) brightness(93%) contrast(93%);
--album-shadow: rgba(0,0,0,.1);
--sub0-color: #000000e0;
--sub1-color: #d60017;
--sub2-color: #0000008f;
--exclipt-filter: opacity(.56);
--play-background: #0000000d;
--play-background-pressed: #b00;
--filter-buttton-bg: #f5f5f57a;
--filter-icons-invert: none;
--block-background: rgba(0,0,0,.015);
--block-hover: #d60017;
--new: rgba(0,0,0,.56);
--new-background: rgba(0,0,0,.06);
--comm-filter: invert(11%) sepia(76%) saturate(6460%) hue-rotate(348deg) brightness(89%) contrast(109%);
--ent-background: rgba(246,246,246, .72);
--ent-border-top: rgba(0,0,0,.15);
--ent-shadows: inset 0 0 0 1px var(--ent-border-top), 0 8px 40px rgba(0,0,0,.25);
--popa-background: #f2f2f2;
}
@media (prefers-color-scheme: dark) {
:root {
--background: #1f1f1f;
--header-bg: #2e2e2e;
--action-background: hsla(0,0%,100%,.05);
--cover-background: #323232;
--cover-filter: opacity(.16) invert(96%) sepia(3%) saturate(540%) hue-rotate(201deg) brightness(99%) contrast(94%);
--album-shadow: rgba(0,0,0,.3);
--sub0-color: #ffffffeb;
--sub1-color: #fa586a;
--sub2-color: #ffffffa3;
--exclipt-filter: invert(1) opacity(.64);
--play-background: #ffffff0d;
--play-background-pressed: #ff7183;
--filter-buttton-bg: #28282880;
--filter-icons-invert: invert(1);
--block-background: #232323;
--block-hover: #a60012;
--new: hsla(0,0%,100%,.64);
--new-background: hsla(0,0%,100%,.06);
--comm-filter: invert(39%) sepia(96%) saturate(492%) hue-rotate(306deg) brightness(105%) contrast(96%);
--ent-background: rgba(40,40,40,.7);
--ent-border-top: hsla(0,0%,100%,.1);
--ent-shadows: inset 0 0 0 1px var(--ent-border-top), 0 8px 40px rgba(0,0,0,.5);
--popa-background: #2b2b2b;
}
}

.album, play, .rate, song, song::after, comm {-webkit-transition: .2s;-o-transition: .2s;transition: .2s}
input {margin: 0; padding: 0; -webkit-appearance: none;-moz-appearance: none;appearance: none}
.filter-button::after, .filter-menu input::after, .redbox input, .action::after, sub2::after, play::before, comm::after, f::before {
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}

/*     H E A D E R       */
.hat {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: sticky;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	top: 0; left: 0;
	width: 100%;
	height: 44px;
	padding: 0 11px;/*12 谢械*/
	background-color: var(--header-bg);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	        box-shadow: 0 1px 2px rgba(0,0,0,.1);
	z-index: 4;
}



body {
    font-family: -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    background-color: var(--background);
    color: var(--sub0-color);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    line-height: 1.23077;
    position: relative;
    width: 100%;
}
.box {
	padding: 0 25px 0;
}
.box.head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 20px;
	padding-bottom: 32px; /*32*/
}
.box.body {
	padding-top: 16px; /*16*/
	padding-bottom: 43px;
	padding: 4px;
	margin: 12px 21px 39px;
	border-radius: 8px;
}

/*.action {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 10px;
	float: left;
	background-color: var(--action-background);
}
.action::after {
	content: "";
	display: inherit;
    width: 100%;
	height: 100%;
    background-size: 30%;
    -webkit-filter: var(--comm-filter);
            filter: var(--comm-filter);
}*/

img {
	position: relative;
	display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1
}
f {
	aspect-ratio: 1/1;
	position: relative;
    width: 40px;
    min-width: 40px;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    background-color: var(--cover-background);
}
f::before {
	content: "";
	position: absolute; left: 0; top: 0;
	width: 100%;
	height: 100%;
}
/*.rate f::before {
	background: url(svg/loading.gif) no-repeat;
	background-size: auto 40%;
	opacity: .4;
}
f.album::before {
	background: url(svg/music.svg) no-repeat;
	background-size: auto 100%;
	-webkit-filter: var(--cover-filter);
	        filter: var(--cover-filter);
}*/
f::after {
    content: "";
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-box-shadow: inset 0 0 0 1px hsla(0,0%,50%,.1);
            box-shadow: inset 0 0 0 1px hsla(0,0%,50%,.1);
    z-index: 1;
}

/*携 楔, 校 小孝  小蝎 小携*/
.rate f:hover::after {
	background-color: hsla(0,0%,100%,.45);
	background-image: url(svg/music.svg);
	background-size: auto 32px; /*40% 16px*/
	background-position: 50%;
	background-repeat: no-repeat;
	-webkit-filter: invert(1);
	        filter: invert(1);
}
.rate:has(f:hover) {padding-left: 54px}
.rate {-webkit-transition: .2s, padding-left .5s;-o-transition: .2s, padding-left .5s;transition: .2s, padding-left .5s}


.album {
	z-index: 3;
	overflow: visible;
    width: 270px;
    margin: 15px auto 18px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px 0 var(--album-shadow);
            box-shadow: 0 10px 20px 0 var(--album-shadow);
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center;
}
/*.box.head {background: -o-linear-gradient(top, red 170px, green 0, green 305px, transparent 0);background: linear-gradient(to bottom, red 170px, green 0, green 305px, transparent 0)}*/
.album img {
	position: absolute;
	border-radius: inherit;
}
blu::after {
	content: "";
	display: block;
	border-radius: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(.88);
	    -ms-transform: scale(.88);
	        transform: scale(.88);
	-webkit-transform-origin: bottom center;
	    -ms-transform-origin: bottom center;
	        transform-origin: bottom center;
	-webkit-filter: blur(20px) saturate(2);
	        filter: blur(20px) saturate(2);
	opacity: .3;
}

/* 协 校 , 鞋*/
/*blu::before {
	content: "";
	pointer-events: none;
	display: block;
	position: absolute;
	top: calc(97% - 11.3%);
	font-size: calc(270px * .113 / 1.18);
	line-height: 1.18;
	font-weight: 600;
	text-align: center;
	width: 100%;
	height: 11.3%;
	z-index: 1;
	//background-image: url(https://tlgrm.ru/_/stickers/d21/e99/d21e9940-fc86-49ba-9d91-b20a71136040/8.webp);
	background-size: auto 148%;
	background-position: 50%;
	background-repeat: no-repeat;
}*/

.subs {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}
sub0, sub1, sub2, play label {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
sub0 {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: -2px;
}
sub1 {
	font-size: 26px;
	padding: 5px 0;
	margin: -5px 0;
	color: var(--sub2-color)
}
sub1:hover, song:hover::after {
	text-decoration: underline
}
sub2 {
	-webkit-line-clamp: 1;
	word-break: break-all;
	font-size: 12px;
	line-height: 1.25;
	margin-top: 4px;
    color: var(--sub2-color)
}
/*sub2::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	margin-left: 3px;
	background: url(svg/n.square.fill.svg);
	background-size: auto 100%;
	filter: var(--exclipt-filter);
}*/
.playing {
	width: 100%;
	padding-top: 18px;
}
.playing, play {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}
play {
	font-weight: 600;
	min-height: 28px;
	min-width: 127px;
	padding: 0 12px;
	border-radius: 6px;
	color: white;
	background-color: #d60017;
	color: var(--sub1-color);
	background-color: var(--play-background);
}
play label {
	-webkit-line-clamp: 1;
	word-break: break-all;
}
play:hover, play:has(+ .filter-menu:hover) {
	color: white;
	background-color: var(--play-background-pressed) !important;
}
play:has(+ .filter-menu [class^="l"]:checked) {
	color: white;
	background-color: #d60017;
}
play::before {
	content: "";
	width: 16px; min-width: 16px;
	height: 12px;
	margin-right: 2px;
	background: url(svg/play.svg);
	background-size: auto 100% !important;
	-webkit-filter: var(--comm-filter);
	        filter: var(--comm-filter);
}
play:hover::before, play:has(+ .filter-menu:hover)::before, play:has(+ .filter-menu [class^="l"]:checked)::before {
	-webkit-filter: invert(1);
	        filter: invert(1);
}
.playing:has([class^="l"]:checked) play::before {
	height: 16px;
}
.new-indicator {
	display: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	top: -8px; right: -8px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 14px;
	height: 16px;
	min-width: 16px;
	padding: 1px 4px;
	border-radius: 50%;
	color: white;
	background-color: black;
	-webkit-filter: var(--filter-icons-invert);
	        filter: var(--filter-icons-invert);
}
/*校携   */
/*.filter-button {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 12px;
	background-color: var(--filter-buttton-bg);
}
.filter-button::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
    background-color: var(--action-background);
}
.filter-button::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
    background-size: auto 100% !important;
    background: url("svg/nonused/more.svg");
    -webkit-filter: var(--comm-filter);
            filter: var(--comm-filter);
}*/

.parentdescription {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	position: relative;
	width: 100%;
	max-width: 440px;
	margin: 18px auto 0;
}
.description {
	word-wrap: break-word;
	display: block;
    /*display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;*/
    overflow: hidden;
    line-height: 1.38462;
    color: var(--sub2-color);
}
input:checked + .description {
	display: block;
}
input.desc-more {
	font-size: 11px;
	font-weight: 600;
	line-height: 1.27273;
	position: absolute;
	right: 0; bottom: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	text-align: right;
	margin: 0;
	padding: 1px 0 1px 31.5px;
	background: -o-linear-gradient(left, transparent, var(--background) 32px);
	background: linear-gradient(to right, transparent, var(--background) 32px);
}
input.desc-more::after {content: "些"}
input.desc-more:checked:after {content: "小蝎孝鞋"}
input.desc-more:checked {
	position: relative;
	width: 100%;
	background: none;
}

.rate {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    border-radius: 6px;
    padding: 7px;
}
.n::before {
	content: "";
    display: block;
    position: absolute;
    left: -15.5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--new);
}
.rate:nth-child(odd) {background-color: var(--block-background)}
.rate:hover {background-color: var(--new-background) !important}
.rate:has(comm:hover) {background-color: var(--block-hover) !important}
.rate f {
	margin-right: 12px;
}
song {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    margin-right: 7px;
}
song::after {
    content: attr(artist);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    color: var(--sub2-color);
}
.rate:has(comm:hover) song, .rate:has(comm:hover) song::after {color: white}
comm {
	display: none;
	width: 21px; min-width: 21px;
	height: 21px;
    margin-left: auto;
    border-radius: 50%;
}
[class^="rate l"] comm {display: block; background-color: hsla(0,0%,50%,.3)}
comm:has(ent:empty), comm:hover {background-color: transparent}
comm::after, .filter-menu input::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
    background-size: auto 70% !important;
    -webkit-filter: var(--comm-filter);
            filter: var(--comm-filter);
}
comm:hover::after {-webkit-filter: invert(1);filter: invert(1)}

.rate.li comm::after, .filter-menu .li::after, .playing:has(.li:checked) play::before {background: url("svg/checkmark.svg")}
.rate.l5 comm::after, .filter-menu .l5::after, .playing:has(.l5:checked) play::before {background: url("svg/heart.fill.svg")}
.rate.l4 comm::after, .filter-menu .l4::after, .playing:has(.l4:checked) play::before {background: url("svg/hand.thumbsup.fill.svg")}
.rate.l3 comm::after, .filter-menu .l3::after, .playing:has(.l3:checked) play::before {background: url("svg/smiley.svg")}
.rate.l2 comm::after, .filter-menu .l2::after, .playing:has(.l2:checked) play::before {background: url("svg/hand.thumbsdown.svg")}

.ratee, div[class$="rate"] comm, ent:empty {display: none !important}
ent, .filter-menu {
    display: none;
	position: absolute;
	right: 4px; top: 66%;
	max-width: 250px;
	padding: 8px 10px;
	border-radius: 6px;
	background-color: var(--ent-background);
	-webkit-backdrop-filter: blur(60px) saturate(210%);
	        backdrop-filter: blur(60px) saturate(210%);
	-webkit-box-shadow: var(--ent-shadows);
	        box-shadow: var(--ent-shadows);
	z-index: 2;
}
comm:hover ent {
	display: block;
}
ent img {
	border-radius: inherit;
	margin: 2px 0
}
d {
	display: block;
	font-size: 11px;
	line-height: 1.2727272727;
	font-style: italic;
	text-align: start;
	opacity: .22;
}

sub3 {
	line-height: 1.38462;
	display: block;
	padding: 44px 0 0 12px;
	color: var(--sub2-color);
}
.popa {
	display: none;
	height: 100px;
	background-color: var(--popa-background);
}

.redbox {
	position: sticky;
	bottom: 0;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 11px;
	font-weight: 500;
	text-align: center;
	width: calc(100% - 60px);
	margin: 0 auto;
	padding: 12px 30px;
	gap: 8px;
	color: hsla(0,0%,100%,.8);
	background-color: #d60017;
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.05), 0 -1px 3px rgba(0,0,0,.07);
	        box-shadow: 0 -1px 0 rgba(0,0,0,.05), 0 -1px 3px rgba(0,0,0,.07);
	z-index: 3;
}
.redbox .hed {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.28;
	color: white;
/*	padding: 7px 0;*/
}
.box.body:has(.rate.n) ~ .redbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.redbox input {
	position: absolute;
	top: calc(50% - 17px);
	/*top: 0;*/
	right: 0;
	width: 10px;
	height: 14px;
	margin: 10px;
	background: url(svg/close.svg);
	background-size: 100%;
}
.redbox:has(input:checked) {
	display: none !important;
}




play:hover + .filter-menu, .filter-menu:hover, body:has(.rate.n) .new-indicator {display: block}

.filter-menu {
	display: none;
	position: absolute;
	overflow: hidden;
	bottom: 23px; right: -5px; top: auto;
	padding: 0;
	margin: 0;
	width: 185px;
	z-index: 3;
}
.filter-menu input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 32px;
	width: 100%;
	padding: 0 10px;
	border-top: 0.5px solid var(--ent-border-top);
	color: var(--sub0-color);
}
.filter-menu input::before {
	content: attr(text);
	white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.filter-menu input::after {
	content: "";
	display: block;
	width: 16px; min-width: 16px;
	height: 16px;
	margin-left: 5px;
	background-size: auto 100% !important;
	-webkit-filter: var(--filter-icons-invert);
	        filter: var(--filter-icons-invert);
}
.filter-menu input:checked {
	color: var(--sub1-color)
}
.filter-menu input:checked::after {
	-webkit-filter: var(--comm-filter);
            filter: var(--comm-filter);
}
.filter-menu .linon::after, .playing:has(.linon:checked) play::before {background: url("svg/play.slash.fill.svg")}
.filter-menu .lnew::after, .playing:has(.lnew:checked) play::before {
	width: 6px; min-width: 6px;
    height: 6px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: black;
}
.filter-menu input:first-child {border-top: none}
.filter-menu input.alltracks::after, input.lnew {display: none}
body:has(.rate.n) input.lnew {display: -webkit-box;display: -ms-flexbox;display: flex}
.filter-menu .btop {border-top-width: 6.5px; height: 38px}
.filter-menu input:hover {
	background-color: var(--action-background);
}

/* 小 小孝  play*/
play [class^="is"] {display: none}
.playing:has([class^="l"]:checked) .play-label {display: none}
.playing:has(.li:checked) .isli,
.playing:has(.l5:checked) .isl5,
.playing:has(.l4:checked) .isl4,
.playing:has(.l3:checked) .isl3,
.playing:has(.l2:checked) .isl2,
.playing:has(.linon:checked) .isunli,
.playing:has(.lnew:checked) .islnew {
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* 小 小孝  协孝蝎 孝*/
.box.head:has([class^="l"]:checked) + .box.body {background-color: var(--block-background)}
.box.head:has([class^="l"]:checked) + .box.body .rate,
.box.head:has([class^="l"]:checked) + .box.body sub3
{display: none; background-color: transparent}
.box.head:has(.l5:checked) + .box.body .rate.l5,
.box.head:has(.l4:checked) + .box.body .rate.l4,
.box.head:has(.l3:checked) + .box.body .rate.l3,
.box.head:has(.l2:checked) + .box.body .rate.l2,
.box.head:has(.li:checked) + .box.body .rate.li,
.box.head:has(.linon:checked) + .box.body [class$="rate"],
.box.head:has(.lnew:checked) + .box.body .rate.n
{
	display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}